.message
  .message
    .upper-message
      .upper-message__user-name
        = message.user.name
      .upper-message__date
        = message.created_at.strftime("%Y/%m/%d %H:%M")
    .lower-message
      - if message.content.present?
        %p.lower-message__content
          = message.content
      = image_tag message.image.url, class: 'lower-message__image' if message.image.present?

-# .messages
-#   .message
-#     .upper-message
-#       .upper-message__user-name
-#         A子
-#       .upper-message__date
-#         2019/10/26(Sat) 18:23:17
-#     .lower-meesage
-#       .lower-message__content
-#         おはよう
-#   .message
-#     .upper-message
-#       .upper-message__user-name
-#         B子
-#       .upper-message__date
-#         2019/10/28(man) 18:23:17
-#     .lower-meesage
-#       .lower-message__content
-#         こんにちは
-#   .message
-#     .upper-message
-#       .upper-message__user-name
-#         C子
-#       .upper-message__date
-#         2019/10/26(Sat) 18:23:17
-#     .lower-meesage
-#       .lower-message__content
-#         さようなら