.flash-box {
  color: $white;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  width: 100vw;
  margin: 0;
  padding: 0;
}
  .notice {
    background-color: $lightblue;
  }
.wrapper {
  margin: 0;
  padding: 0;
}
  .chat-side {
    width: 300px;
    color: $white;
    float: left;
    display: block;
  }
    .side-header {
      background-color: #253141;
      height: 100px;
      display: flex;
      align-items: center;
      padding: 0 20px;
    }
      .side-header__box {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-weight: bold;
      }
        .box__user-name {
        }
        .box__menu {
          list-style: none;
          color: $white;
        }
          .menu__new-group {
            margin-left: 0.3rem;
          }
          .menu__edit-user {
            margin-left: 0.3rem;
          }
    .groups {
      background-color: #2f3e51;
      padding: 20px 20px 0;
      overflow: scroll;
      height: calc(100vh-100px);
    }
      .group {
        margin: 0 0 40px;
      }
        .group__group-name {
          font-size: 15px;
          font-weight: bold;
          margin: 0 0 5px;
        }
        .group__latest-message {
          font-size: 11px;
          font-weight: bold;
        }
  .chat-main {
    width: calc(100vh-300px);
    float: left;
    box-sizing: border-box;
  }
    .main-header {
      height: 100px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #eeeeee;
      overflow: scroll;
      padding: 0 40px;
    }
      .main-header__left-box {
        margin-top: 35px;
      }
        .left-box__current-group {
          font-size: 20px;
          margin-bottom: 15px;
          color: #333333;
        }
        .left-box__member-list {
          display: flex;
          font-size: 12px;
          color: #999999;
        }
          .member-list__member {
            margin-left: 0.3rem;
          }
      .main-header__edit-btn {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 28px;
        border: solid 1px $lightblue;
        position: absolute;
        right: 40px;
      }
    .messages {
      height: calc(100vh-190px);
      padding: 46px 40px;
      background-color: #fafafa;
      overflow: scroll;
    }  
      .message {
        padding-bottom: 40px;
      }
        .message__upper-info {
          display: flex;
          margin-bottom: 10px;
        }
          .upper-info__talker {
            font-size: 16px;
            font-weight: bold;
            color: #434a54
          }
          .upper-info__date {
            font-size: 12px;
            color: #999999;
            margin-left: 10px;
          }
        .message__text {
          font-size: 14px;
          color: #434a54;
          margin-bottom: 10px;
        }
    .form {
      height: 90px;
      padding: 20px 40px;
      background-color: #ddd;
      display: flex;
    }
      .new__message {
        box-sizing: border-box;
      }
        .input-box {
          position: relative;
          width: 100%;
        }
          .input__box-text {
            height: 50px;
            width: 100%;
            padding: 0 40px 0 10px;
            color: #434a54;
            border-style: none;
          }
          .input__box_-image {
            font-size: 1.3rem;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
          }
            